version: "3.9"

services:
  app:
    build: ./docker/php
    volumes:
      - .:/var/www
    container_name: php-app

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
